extends layout



block content
	h1 Welcome to 'Lingo!' 
		p A lanuguage translator and quiz

	form.formTranslate
		input.wordOrigin(type='text' placeholder='origin')
		input.lanuguageTo(type='text' placeholder='lanuguageTo')
		input.wordToTranslate(type='text' placeholder='word input')
		input.submitTranslate(type='submit' value='Get Translation')


